.header{
    margin-top: none;
    background-color: black;
    
}
.headertitles{
    display: flex;
    flex-direction: column ;
    align-items: center;
    font-family: 'Lora', serif;
    color: rgb(176, 73, 224);
    
}
.headertitlesm{
    position: absolute;
    font-size: 20px;
}
.headertitlelg{
    position: absolute;
    font-size: 100px;
}
.headerimg{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    object-fit: cover;

}
